{% extends "base.html" %}

{% block content %}
    <style>
      .error {
        color: red;font-style: italic;
        }
    </style>
    <h1>Blogz</h1>
    <form action = '/newpost' method='post'>
      <body>
      <table>
        <tr>

          <td><label for = 'title'>Title for your new blog post:</label></td>
          <td>
            <input id = "post_id" type="text" name='new_post' value= "{{ new_post_title }}"/>
            <span class = "error"> {{ title_error }}</span>
          </td>
        </tr>
        <tr>
          <td><label for = 'body'>Your new blog entry:</label></td>
          <td>
            <textarea cols='50' rows="15" id = "body_id" name = 'body' wrap = 'soft' value= "{{ new_post_body }}"></textarea>
            <span class = "error">{{ body_error }}</span>
          </td>

      </table>

      <input type="submit" value='Add Post'/>
      </body>
    </form>


{% endblock %}
